* {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.navigationmenu {
  display: none;
}
header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em 0 1em;
}

input,
.gosearch {
  height: 30px;
  border: 2px solid;
  outline: none;
}
input {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-right: 0.5px solid;
}
.gosearch {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-left: 0.5px solid;
}
.inplayvideo {
  grid-area: inplayvideo;
}
.recommendedvideos {
  grid-area: recommendedvideos;
}
section {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-template-rows: auto;
  grid-template-areas: "inplayvideo recommendedvideos";
  margin: 5px;
  align-items: start;
  justify-items: start;
  column-gap: 5px;
}

.recommendedvideos > div {
  /*border: 1px solid gray;*/
  margin-bottom: 5px;
  display: flex;
    flex-direction: row;
    align-items: start;
}
svg#wistia_loading_svg_72 {
  height: 80px;
  width: 125px;
  border: 1px solid gray;
  margin: 0;
  border-radius: 15px;
}
#wistia_loading_svg_72 path {
  stroke-width: 2px;
  stroke-dasharray: 36.299235026041664, 72.59847005208333;
  animation: wistia_dash 1s infinite linear forwards;
}
.specifities {
  width: auto;
}
@keyframes wistia_dash {
  from {
    stroke-dashoffset: 108.897705078125;
  }
  to {
    stroke-dashoffset: 0;
  }
}
